.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  border: 1px solid black;
  padding: 8px 16px;
  width: 45%;
}

.grid-item {
  border: 1px solid black;
  padding: 8px 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.item8 {
  grid-row-start: 1;
}
.item1 {
  grid-row-start: 4;
  grid-column-start: 2;
}

.item5 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.item9 {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 2;
}

body {
  font-family: "Open Sans", sans-serif;
}

.form_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  margin-bottom: 30px;
  font-family: "Merriweather", serif;
  font-weight: 500;
}

.input {
  margin-bottom: 5px;
  border: none;
  padding: 8px 0;
  width: 280px;
  border-bottom: 1px solid gray;
}

.paragraph {
  font-size: 13px;
  margin-bottom: 30px;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.btn {
  height: 40px;
  width: 200px;
  border: none;
  background-color: black;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(58, 58, 58);
}

.main_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hw_btn {
  background-color: rgb(206, 208, 209);
  color: black;
  text-decoration: none;
  padding: 8px 30px;
  margin-right: 5px;
  transition: 0.3s;
}

.hw_btn:hover {
  background-color: rgb(241, 241, 241);
}
